.header{
  width: 400px;
  height: 513px;
  border-radius: 10px;
  background-image: linear-gradient(0deg, #fff 86%, #6a96d8 86% );
  background-color: #6A96D8;
}

.hero{
  display: flex;
  align-items: center;
  // margin-bottom: 44px;
  padding: 20px 28px;
}

.hero__span{
  display: block;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.hero__title{
  margin: 0;
  color: #fff;
}

.hero__x{
  width: 14px;
  height: 14px;
  margin-left: auto;
}

.about{
  display: flex;
  align-items: center;
  padding: 24px 20px;
}

.about__span{
  display: inline-block;
  width: 145px;
  height: 1px;
  background-color: #ddd;
}

.about__title{
  margin: 0 10px 0;
  font-size: 14px;
  color: #ddd;
}